{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heritage crypto investment platform - Crypto Currency Form</title>
    <link rel="stylesheet" href="{% static 'css/signal.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="marquee-container">
        <div class="marquee">
            <p>
                <i class="fas fa-chart-line"></i> Investment Growth: $5,000 to $35,000
            </p>
            <p>
                <i class="fas fa-hand-holding-usd"></i> Total Returns: $10,000
            </p>
        </div>
    </div>


    <div class="telegram-icon">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" alt="Telegram">
    </div>

    <div class="dashboard">
        <header class="dashboard-header">
            <h1>Ultimate Plans</h1>
        </header>

        <div class="container">
            <div class="box" onclick="handleClick(this)">
                <div class="amount">
                    ${{user_profile.amount}}
                </div>
                <hr>
                <div class="label">
                    Deposit
                </div>
            </div>
            <div class="box" onclick="handleClick(this)">
                <div class="amount">
                    ${{user_profile.profit}}
                </div>
                <hr>
                <div class="label">
                    Profit
                </div>
            </div>

            <form method="post" id="crypto-form">
                 <label for="dropdown">Ultimate plans</label>
                   <div class="flex-container">
                       <span class="label">
                           min
                           <br />
                           $50,000
                       </span>
                        <span class="label">
                            max
                            <br />
                           $100,000
                       </span>
                   </div>
                   <br />
                   {% csrf_token %}
                   {{ form.as_p }}
                   {% for field in form.visible_fields %}
                       {% for error in field.errors %}
                           <div class="error">{{ error }}</div>
                       {% endfor %}
                   {% endfor %}
                <button type="submit">Submit</button>
            </form>
            <br /><br />
            <nav class="bottom-navbar">
                <a href="{% url 'dashboard' %}" class="nav-item">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="text">Home</span>
                </a>
                <a href="{% url 'investment' %}" class="nav-item">
                    <span class="icon"><i class="fas fa-chart-line"></i></span>
                    <span class="text">Investments</span>
                </a>
                <a href="#" class="nav-item">
                    <span class="icon"><i class="fas fa-file-alt"></i></span>
                    <span class="text">Reports</span>
                </a>
                <a href="{% url 'profile' %}" class="nav-item">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="text">Settings</span>
                </a>
            </nav>

            <script>
            
            </script>
        </body>
    </html>
